<div class="custom-number-input">
  <div class="interactive"
       [class.gradient-radial]="currentValue > minValue"
       [class.gradient-radial-grey]="currentValue <= minValue"
       (click)="adjustValue(0 - stepValue)"
       [innerText]="minusSign"
  ></div>
  <div class="value">
    {{ currentValue }}
  </div>
  <div class="interactive gradient-radial"
       [class.gradient-radial]="currentValue < maxValue"
       [class.gradient-radial-grey]="currentValue >= maxValue"
       (click)="adjustValue(stepValue)"
       [innerText]="plusSign"
  ></div>
</div>
