<div class="faq">
  <h2>Frequently asked questions</h2>
  <div class="faq-item section">
    <div class="question">Something isn't working right. Can you fix it?</div>
    <div class="answer">
      I'll try. Please report any bugs using the <a routerLink="/feedback">feedback page</a>.<br>
      If you're having trouble with a specific device or browser, there probably won't be a fix in the near future.
      Time is sparse.
    </div>
  </div>
  <div class="faq-item section">
    <div class="question">
      What kind of devices can I use?
    </div>
    <div class="answer">
      Any reasonably recent device of a certain size. Tablets and desktop computers just have more pixels than most phones.
      Browser that should work best are Firefox and Chrome.
      <br>
      When in doubt, give it a try.
    </div>
  </div>
  <div class="faq-item section">
    <div class="question">
      I don't like how this looks. Can change some things around?
    </div>
    <div class="answer">
      Probably not, sorry. It's a time issue.<br>
      But you or someone you know could check out the code for this app on github and change it to your heart's delight.
    </div>
  </div>
  <div class="faq-item section">
    <div class="question">
      Some features are missing.
    </div>
    <div class="answer">
      That's not a question.
    </div>
  </div>
  <div class="faq-item section">
    <div class="question">
      Are you gonna add missing features?.
    </div>
    <div class="answer">
      Possibly. If the required time can be found. Some features might never make it into the app though.<br>
      Things that probably will not make it anytime soon include:
      <ul>
        <li>multi-classing</li>
        <li>player races and player classes that are not part of the PHB</li>
        <li>multi</li>
      </ul>
      Further up the priority list are things like:
      <ul>
        <li>more layouts and designs</li>
        <li>making parts of the character sheet optional or adjustable</li>
      </ul>
    </div>
  </div>
  <div class="faq-item section">
    <div class="question">
      Are these questions really asked frequently?
    </div>
    <div class="answer">
      Hell nah. But I do hope this list helps.
    </div>
  </div>
  <div class="faq-item section">
    <button (click)="navigate()">I'm done here, take me back</button>
  </div>
</div>
