<div *ngIf="character" class="sheet">
	<app-name class="section" [character]="character"></app-name>

	<div class="upper-wrap">
		<app-background class="sub-section" [character]="character"></app-background>
		<app-vitals class="sub-section" [vitals]="character.vitals"></app-vitals>
	</div>

	<app-attributes [character]="character"></app-attributes>
	<app-passive-perception [character]="character"></app-passive-perception>

	<div class="inspiration-wrap section-wrapper">
			<app-inspiration class="section"></app-inspiration>
			<app-proficiency-bonus class="section" [bonus]="character.proficiencies.proficiencyBonus"></app-proficiency-bonus>
	</div>

	<app-saving-throws class="sub-section" [character]="character"></app-saving-throws>
	<app-skills class="sub-section" [character]="character"></app-skills>
	<app-armor-class [character]="character" class="sub-section"></app-armor-class>

	<div class="class-specific-wrap" [class.caster]="isCaster()">
		<app-class-special [character]="character" class="sub-section"></app-class-special>
		<app-hitpoints *ngIf="!isCaster()" [hitpoints]="character.hitPoints" class="sub-section"></app-hitpoints>
    <app-death-saving-throws *ngIf="isCaster()" class="section"></app-death-saving-throws>
	</div>

	<div class="hitdie-wrap" [class.caster]="isCaster()">
		<app-hit-dice [hitDice]="character.hitDice" class="sub-section"></app-hit-dice>
    <app-hitpoints *ngIf="isCaster()" [hitpoints]="character.hitPoints" class="sub-section"></app-hitpoints>
		<app-death-saving-throws *ngIf="!isCaster()" class="section"></app-death-saving-throws>
	</div>

	<app-weapons [weapons]="character.weapons" class="section"></app-weapons>
	<app-ammunition [ammunition]="character.ammunition" class="section"></app-ammunition>

	<app-extra-profs class="section" [proficiencies]="character.proficiencies"></app-extra-profs>
	<app-currency class="section" [currency]="character.currency"></app-currency>
	<app-equipment class="section" [equipment]="character.equipment"></app-equipment>

	<div class="notes-wrap">
		<app-feats class="section" [character]="character"></app-feats>
		<app-notes class="section" [notes]="character.notes"></app-notes>
	</div>

	<app-character-history class="section" [character]="character"></app-character-history>
</div>

<input type="file"
       #filePickerInput
       (change)="handleFileSelection()"
       class="hidden"
       accept=".json.txt"
>

<ng-template #menuTemplate>
  <ul class="additional-menu">
    <li>
      <button type="button"
              (click)="saveCharacter()"
              [innerText]="'Save Character'"
      ></button>
    </li>
    <li>
      <button type="button"
              (click)="clearLocalData()"
              [disabled]="!isLocalDataAvailable()"
              [class.disabled]="!isLocalDataAvailable()"
              [innerText]="'Clear local data'"
              [title]="isLocalDataAvailable() ? '' : 'Nothing to delete'"
      ></button>
    </li>
    <li>
      <button type="button"
              (click)="exportCharacter()"
              [innerText]="'Export Character'"
      ></button>
    </li>
    <li>
      <button type="button"
              (click)="importCharacter()"
              [innerText]="'Import saved Character'"
      ></button>
    </li>
  </ul>
</ng-template>
