<div *ngIf="character" class="sheet">
	<app-name class="section"></app-name>

	<div class="upper-wrap">
		<app-background class="sub-section"></app-background>
		<app-vitals class="sub-section"></app-vitals>
	</div>

	<app-attributes></app-attributes>
	<app-passive-perception></app-passive-perception>

	<div class="inspiration-wrap section-wrapper">
			<app-inspiration class="section"></app-inspiration>
			<app-proficiency-bonus class="section"></app-proficiency-bonus>
	</div>

	<app-saving-throws class="sub-section"></app-saving-throws>
	<app-skills class="sub-section"></app-skills>
	<app-armor-class class="sub-section"></app-armor-class>

	<div class="class-specific-wrap" [class.caster]="isCaster()">
		<app-class-special class="sub-section"></app-class-special>
		<app-hitpoints *ngIf="!isCaster()" class="sub-section"></app-hitpoints>
    <app-death-saving-throws *ngIf="isCaster()" class="section"></app-death-saving-throws>
	</div>

	<div class="hitdie-wrap" [class.caster]="isCaster()">
		<app-hit-dice class="sub-section"></app-hit-dice>
    <app-hitpoints *ngIf="isCaster()" class="sub-section"></app-hitpoints>
		<app-death-saving-throws *ngIf="!isCaster()" class="section"></app-death-saving-throws>
	</div>

	<app-weapons class="section"></app-weapons>
	<app-ammunition class="section"></app-ammunition>

	<app-extra-profs class="section"></app-extra-profs>
	<app-currency class="section"></app-currency>
	<app-equipment class="section"></app-equipment>

	<div class="notes-wrap">
		<app-feats class="section"></app-feats>
		<app-notes class="section"></app-notes>
	</div>

	<app-character-history class="section"></app-character-history>
</div>

<input type="file"
       #filePickerInput
       (change)="handleFileSelection()"
       class="hidden"
       accept=".json.txt"
>

<ng-template #menuTemplate>
  <ul class="additional-menu">
    <li>
      <button type="button"
              (click)="saveCharacter()"
              [innerText]="'Save Character'"
      ></button>
    </li>
    <li>
      <button type="button"
              (click)="clearLocalData()"
              [disabled]="!isLocalDataAvailable()"
              [class.disabled]="!isLocalDataAvailable()"
              [innerText]="'Clear local data'"
              [title]="isLocalDataAvailable() ? '' : 'Nothing to delete'"
      ></button>
    </li>
    <li>
      <button type="button"
              (click)="exportCharacter()"
              [innerText]="'Export Character'"
      ></button>
    </li>
    <li>
      <button type="button"
              (click)="importCharacter()"
              [innerText]="'Import saved Character'"
      ></button>
    </li>
  </ul>
</ng-template>
