<button type="button"
        class="custom-button"
        [class.primary-button]="style === ButtonStyle.PRIMARY"
        [class.secondary-button]="style === ButtonStyle.SECONDARY"
        [class.dice-icon]="style !== ButtonStyle.PRIMARY && style !== ButtonStyle.SECONDARY"
        [class.dice-icon-d4]="style === ButtonStyle.D4"
        [class.dice-icon-d6]="style === ButtonStyle.D6"
        [class.dice-icon-d8]="style === ButtonStyle.D8"
        [class.dice-icon-d10]="style === ButtonStyle.D10"
        [class.dice-icon-d12]="style === ButtonStyle.D12"
        [class.dice-icon-d20]="style === ButtonStyle.D20"
        [class.disabled]="disabled"
        [disabled]="disabled"
        (click)="handleClick($event)"
>{{ label }}</button>
