.footer {
  font-family: Verdana, Arial, sans-serif;
  margin: 3rem auto 0 auto;
  width: 100%;
  max-width: 800px;

  ul {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;

    li {
      a {
        text-decoration: none !important;
        padding: 2px;

        &:hover {
          color: var(--section-background-darker);
          background-color: var(--section-color);
        }
      }
    }
  }

  @media print {
    display: none;
  }
}
