.background {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  li {
    flex-shrink: 0;
    display: flex;

    flex-direction: column;
    width: 33%;
    text-align: center;

    .label {
      order: 2;
      opacity: .66;
      font-size: .75em;
    }

    .value {
      order: 1;
      min-height: 1em;
    }
  }

}