<div class="edit-currency">
  <h4 class="section-header">Give yourself some coin</h4>
  <p>
    <label for="platinum">Platinum</label>
    <input [attr.id]="platinum"
           #platinum
           type="number"
           min="0"
           value="cash.platinum"
    >
  </p>

  <p>
    <label for="gold">Gold</label>
    <input [attr.id]="gold"
           #gold
           type="number"
           min="0"
           value="cash.gold"
    >
  </p>

  <p>
    <label for="silver">Silver</label>
    <input [attr.id]="silver"
           #silver
           type="number"
           min="0"
           value="cash.silver"
    >
  </p>

  <p>
    <label for="copper">Copper</label>
    <input [attr.id]="copper"
           #copper
           type="number"
           min="0"
           value="cash.copper"
    >
  </p>

  <p>
    <button type="button" (click)="save()">Save</button>
  </p>
</div>
