<ul class="background">
  <li class="interactive" (click)="editClass()">
    <span class="label">Class & Level</span>
    <span class="value">{{ characterClassName }} ({{ characterLevel }})</span>
  </li>

  <li class="interactive" (click)="editBackground()">
    <span class="label">Background</span>
    <span class="value">{{ characterBackground }}</span>
  </li>

  <li class="interactive" (click)="editPlayerName()">
    <span class="label">Player name</span>
    <span class="value">{{ playerName }}</span>
  </li>

  <li class="interactive" (click)="editRace()">
    <span class="label">Race</span>
    <span class="value"
          [innerText]="characterSubRace ? characterSubRace : characterRace"
    ></span>
  </li>

  <li class="interactive" (click)="editAlignment()">
    <span class="label">Alignment</span>
    <span class="value">{{ characterAlignment }}</span>
  </li>

  <li class="interactive" (click)="editExperiencePoints()">
    <span class="label">Experience</span>
    <span class="value">{{ characterXp }}</span>
  </li>
</ul>
