.barbarian-icon {
  background-image: url('../assets/icons/class-icons/barbarian.png');
}

.bard-icon {
  background-image: url('../assets/icons/class-icons/bard.png');
}

.cleric-icon {
  background-image: url('../assets/icons/class-icons/cleric.png');
}

.druid-icon {
  background-image: url('../assets/icons/class-icons/druid.png');
}

.fighter-icon {
  background-image: url('../assets/icons/class-icons/fighter.png');
}

.monk-icon {
  background-image: url('../assets/icons/class-icons/monk.png');
}

.paladin-icon {
  background-image: url('../assets/icons/class-icons/paladin.png');
}

.ranger-icon {
  background-image: url('../assets/icons/class-icons/ranger.png');
}

.rogue-icon {
  background-image: url('../assets/icons/class-icons/rogue.png');
}

.sorcerer-icon {
  background-image: url('../assets/icons/class-icons/sorcerer.png');
}

.warlock-icon {
  background-image: url('../assets/icons/class-icons/warlock.png');
}

.wizard-icon {
  background-image: url('../assets/icons/class-icons/wizard.png');
}

.shield-icon {
  background-image: url('../assets/icons/shield.png');
}

.settings-icon {
  background-image: url('../assets/icons/settings.png');
}

.dragon-icon {
  background-image: url('../assets/icons/dragon.png');
}

.cardiology-icon {
  background-image: url('../assets/icons/cardiology.png');
}

.skull-icon {
  background-image: url('../assets/icons/skull.png');
}

.dice-icon-d6 {
  background-image: url('../assets/icons/dice/d6.png');
}

.dice-icon-d8 {
  background-image: url('../assets/icons/dice/d8.png');
}

.dice-icon-d10 {
  background-image: url('../assets/icons/dice/d10.png');
}

.dice-icon-d12 {
  background-image: url('../assets/icons/dice/d12.png');
}

.dice-icon-d20 {
  background-image: url('../assets/icons/dice/d20.png');
}

.dice-icon-d6-0 {
  background-image: url('../assets/icons/dice/dice-no-face.png');
}

.dice-icon-d6-1 {
  background-image: url('../assets/icons/dice/dice-result-1.png');
}

.dice-icon-d6-2 {
  background-image: url('../assets/icons/dice/dice-result-2.png');
}

.dice-icon-d6-3 {
  background-image: url('../assets/icons/dice/dice-result-3.png');
}

.dice-icon-d6-4 {
  background-image: url('../assets/icons/dice/dice-result-4.png');
}

.dice-icon-d6-5 {
  background-image: url('../assets/icons/dice/dice-result-5.png');
}

.dice-icon-d6-6 {
  background-image: url('../assets/icons/dice/dice-result-6.png');
}

.dice-roll-icon {
  background-image: url('../assets/icons/dice/dices-no-face.png');
}

.hamburger-menu-icon {
  background-image: url('../assets/icons/menu.png');
}

.hamburger-menu-icon-inverted {
  background-image: url('../assets/icons/list-inverted.png');
}

.close-icon {
  background-image: url('../assets/icons/delete.png');
}

.close-icon-inverted {
  background-image: url('../assets/icons/delete-inverted.png');
}
