button {
  background-color: #865236; //var(--highlight);
  color: #fff;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: .25rem .5rem;
  margin: .25rem;
  cursor: pointer;

  &.disabled {
    background-color: var(--light);
    cursor: not-allowed;

    &:hover {
      background-color: var(--light);
      border-style: solid;
    }

    &:active {
      animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
  }

  &:hover {
    background-color: #ae8247;
    border-style: outset;
  }

  &:active {
    border-style: inset;
  }

  @media print {
    display: none;
  }
}
