@import './vars.scss';
@import './modals.scss';
@import './print.scss';

@font-face {
  font-family: 'Gloria';
  src: url('../assets/fonts/GloriaHallelujah-Regular.ttf') format('truetype');
}

html, body {
  font-family: 'Gloria', sans-serif;
  line-height: 150%;
  color: var(--regular-color);
}

body {
  margin: 1rem;
  color: var(--font-color);
  background-image: url('../assets/background/204860-landscape-drawing-fantasy_art-Guild_Wars.jpg');
}

input[type="text"],
textarea {
  font-family: 'Gloria', sans-serif;
}

a:link, a:visited {
  color: var(--link);
  text-decoration: none;
}
a:hover, a:active {
  color: var(--link);
  text-decoration: underline;
}

ul {
  list-style: none inside;

  li {
    display: block;
  }
}

div, p, h1, h2, h3, h4, ul, ol, li {
  padding: 0;
  margin: 0;
  border-radius: var(--border-radius);
}
