  <div class="vitals">
    <ul>
      <li class="interactive">
        <div class="label">Age</div>
        <div #age
             class="value"
             [innerText]="characterVitals.age"
             (click)="editAge()"
        ></div>
      </li>
      <li class="interactive">
        <div class="label">Height</div>
        <div #height
             class="value"
             (click)="editHeight()"
             [innerText]="characterVitals.height"
        ></div>
      </li>
      <li class="interactive">
        <div class="label">Weight</div>
        <div #weight
             class="value"
             (click)="editWeight()"
             [innerText]="characterVitals.weight"
        ></div>
      </li>
      <li class="interactive">
        <div class="label">Eyes</div>
        <div #eyes
             class="value"
             (click)="editEyes()"
             [innerText]="characterVitals.eyes"
        ></div>
      </li>
      <li class="interactive">
        <div class="label">Skin</div>
        <div #skin
             class="value"
             (click)="editSkin()"
             [innerHTML]="characterVitals.skin"
        ></div>
      </li>
      <li class="interactive">
        <div class="label">Hair</div>
        <div #hair
             class="value"
             (click)="editHair()"
             [innerText]="characterVitals.hair"
        ></div>
      </li>
    </ul>
  </div>
