:host {
  background-image: url('/assets/icons/dragon.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.hitdice {
  height: 100%;

  .total {
    float: right;
    position: relative;
    top: -1.5rem;

    .value {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;
      text-align: right;
      margin-right: .5rem;
      width: calc(20px + 1.5rem);

      & > div {
        margin-top: .5rem;
      }

      &.d6 {
        background-image: url('/assets/icons/d6.png');
      }
      &.d8 {
        background-image: url('/assets/icons/d8.png');
      }
      &.d10 {
        background-image: url('/assets/icons/d8.png');
      }
      &.d12 {
        background-image: url('/assets/icons/d12.png');
      }
    }
  }
}