:host {
  @media screen {
    background-image: url('/assets/icons/dragon.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
  }
}

.hitdice {
  height: 100%;
  padding-bottom: 0 !important;

  .total {
    float: right;
    display: flex;
    flex-direction: column;

    .value {
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left center;
      text-align: right;
      margin-right: .5rem;
      width: calc(20px + 1.5rem);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100%;

      & > div {
        margin-top: .75rem;
      }

      &.d6 {
        background-image: url('/assets/icons/d6.png');
      }
      &.d8 {
        background-image: url('/assets/icons/d8.png');
      }
      &.d10 {
        background-image: url('/assets/icons/d10.png');
      }
      &.d12 {
        background-image: url('/assets/icons/d12.png');
      }
    }
  }

  @media print {
    height: unset;

    .total {
      .value {
        flex-direction: row;
        height: unset;
        width: 100%;
        background-position: center top;

        & > div {
          margin-top: unset;
          margin-left: .75rem;
          padding-top: .75rem;
        }
      }
    }
  }
}