.sheet {
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
  display: grid;
  grid-gap: var(--main-grid-gap-size);
  grid-template-columns:
    [col] 100px
    [col] minmax(100px, 1fr)
    [col] minmax(100px, 1fr)
    [col] minmax(100px, 1fr)
    [col] minmax(100px, 1fr)
  ;
	grid-template-rows: repeat(6, [row] auto );
  grid-auto-flow: row;

  app-attributes,
  app-saving-throws,
  app-skills,
  app-armorclass,
  app-hitpoints,
  app-hitdice,
  app-extra-profs,
  app-currency,
  app-equipment,
  app-notes,
  .weapons-wrap,
  .inspiration-wrap {
    height: 100%;
    max-height: 100%;
  }

  .section-wrapper {
    display: flex;
    row-gap: var(--main-grid-gap-size);
    flex-direction: column;
    justify-content: flex-end;
  }

  app-name {
    grid-column: col / span 2;
    grid-row: row 1;
    height: 100%;
    min-height: 7.5rem;
    display: flex;
    justify-content: center;
  }
  .upper-wrap {
    grid-column: col 3 / span 3;
    grid-row: row 1;
    height: 100%;
    max-height: 100%;
    min-height: 7.5rem;
    display: flex;
    row-gap: var(--main-grid-gap-size);
    flex-direction: column;
    justify-content: stretch;
  }
  app-attributes {
    grid-column: col;
    grid-row:  row 2 / span 4;
  }
  app-passive-perception {
    grid-column: col / span 2;
    grid-row: row 6;
  }
  app-extra-profs {
    grid-column: col / span 2;
    grid-row:  row 7;
  }
  .inspiration-wrap {
    grid-column: col 2;
    grid-row:  row 2;
  }
  app-saving-throws {
    grid-column: col 2;
    grid-row: row 3;
  }
  app-skills {
    grid-column: col 2;
    grid-row: row 4 / span 2;
  }
  app-armorclass {
    grid-column: col 3 / span 2;
    grid-row: row 2;
  }
  app-hitpoints {
    grid-column: col 3 / span 2;
    grid-row: row 3;
  }
  app-hitdice {
    grid-column: col 3 / span 2;
    grid-row: row 4;
  }
  .weapons-wrap {
    grid-column: col 3 / span 2;
    grid-row: row 5 / span 2;

    app-ammunition {
      flex-grow: 1;
      height: 100%;
    }
  }
  app-extra-profs {
    grid-column: col / span 2;
    grid-row: row 7;
  }
  app-details {
    grid-column: col 3 / span 2;
    grid-row: row 2 / span 2;
  }
  app-currency {
    grid-column: col 3;
    grid-row: row 7;
  }
  app-equipment {
    grid-column: col 4 / span 2;
    grid-row: row 7;
  }
  app-notes {
    grid-column: 5;
    grid-row: 2 / span 5;
  }

  @media screen and (max-width: 700px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    & > * {
      flex-grow: 0;
    }

    app-notes {
      display: none;
    };

    app-saving-throws, app-skills {
      max-width: calc(50% - var(--main-grid-gap-size));
    }

    .weapons-wrap, app-attributes, .inspiration-wrap, app-passive-perception {
      width: 100%;
    }

    app-saving-throws {
      order: 1;
    }
    app-skills {
      order: 2;
    }
  }

  @media print {
    margin: 0;

    grid-template-columns:
    [col] 75pt
    [col] 145pt
    [col] 110pt
    [col] 100pt
    [col] 1fr
  ;

  .translucent {
    background: unset;
  }
  }
}