<div class="point-buy" *ngIf="characterLoaded && currentAttributes">
  <h3>Point Buy</h3>
    <table>
      <thead>
        <tr>
          <td>Attribute</td>
          <td>Score</td>
          <td>Bonus</td>
          <td><abbr title="Ability Score Improvements from level ups">ASI</abbr></td>
          <td>Total</td>
          <td>Modifier</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let attr of attributesList">
          <ng-container [ngTemplateOutlet]="rowTemplate"
                        [ngTemplateOutletContext]="{attr: attr}"
          ></ng-container>
        </tr>
      </tbody>
    </table>

  <div class="points-count">
    <p>Points: {{ remainingBasePoints }} / {{ totalPoints }}</p>
  </div>

  <div *ngIf="characterLevel > 3" class="asi-points-count">
    <p>Ability Score Increases: {{ remainingAsiPoints }} / {{ totalAsiPoints }}</p>
  </div>

  <div *ngIf="totalRacialBonusPoints > 0" class="racial-points-count">
    <p>Pickable Bonus Attributes from your character's race {{ remainingRacialBonusPoints }} / {{ totalRacialBonusPoints }}</p>
  </div>

  <div class="buttons">
    <button type="button"
            [disabled]="remainingBasePoints !== 0 || remainingRacialBonusPoints !== 0 || remainingAsiPoints !== 0"
            [class.disabled]="remainingBasePoints !== 0 || remainingRacialBonusPoints !== 0 || remainingAsiPoints !== 0"
            (click)="save()"
            [innerText]="'Apply'"
    ></button>
  </div>
</div>

<ng-template #rowTemplate let-attr="attr">
  <td>{{ attr }}</td>
  <td>
    <app-custom-number-input #baseInput
                             [minValue]="8"
                             [maxValue]="getBaseAttributeMaxValue(attr)"
                             [currentValue]="currentAttributes.base[getAttributeKey(attr)]"
                             (valueChange)="handleBaseAttributeChange($event, attr)"
    ></app-custom-number-input>
  </td>
  <td class="number">
    <ng-container [ngTemplateOutlet]="totalRacialBonusPoints && !characterRaceDetails.attributeBonus[getAttributeKey(attr)]
                                    ? racialPickerTemplate
                                    : racialBonusTemplate"
                  [ngTemplateOutletContext]="{attr: attr}"
    ></ng-container>
  </td>
  <td class="number">
    <app-custom-number-input *ngIf="totalAsiPoints > 0; else noAsiPointsTemplate"
                             #asiInput
                             [minValue]="0"
                             [maxValue]="getAsiMaxValue(currentAttributes.asi[getAttributeKey(attr)])"
                             [currentValue]="0"
                             (valueChange)="handleAsiChange($event, attr)"
    ></app-custom-number-input>
  </td>
  <td class="total number">
      {{ getTotal(attr) }}
  </td>
  <td class="modifier number">
      {{ getModifier(attr) }}
  </td>
</ng-template>

<ng-template #racialPickerTemplate let-attr="attr">
  <app-custom-checkbox [checked]="false"
                       *ngIf="remainingRacialBonusPoints > 0 || selectedBonusAttributes[getAttributeKey(attr)]"
                       (stateChange)="handleBonusSelection(attr, $event)"
  ></app-custom-checkbox>
</ng-template>

<ng-template #racialBonusTemplate let-attr="attr">
  {{ getRacialBonus(attr) }}
</ng-template>

<ng-template #noAsiPointsTemplate>
  <div>-</div>
</ng-template>
