<div class="toast-renderer">
  <div *ngFor="let toast of toasts"
       class="toast"
       [class.error]="toast.type === ToastType.ERROR"
       [class.success]="toast.type === ToastType.SUCCESS"
  >
    <div class="toast-content"
         [innerText]="toast.content"
    ></div>
    <div class="close-button"
         [class.close-icon-inverted]="toast.type === ToastType.ERROR || toast.type === ToastType.SUCCESS"
         [class.close-icon]="toast.type === ToastType.NOTIFICATION"
         [innerText]="'X'"
         (click)="closeToast(toast)"
    ></div>
  </div>
</div>
